@model Employee;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>Employee Details</div>
<br />
<div>Name:</div><div>@Model.Name</div>
<div>Department:</div><div>@Model.Department</div>
<div>Location</div><div>@Model.Location</div>

